/.idea
/wp-content/uploads
/wp-content/debug.log
.htaccess
wp-config.php

# Wordfence
wp-content/wflogs
wp-content/wfcache
wordfence-waf.php

# W3 Total Cache
wp-content/w3tc-config
wp-content/cachewp-content/w3tc-config
wp-content/w3tc/pgcache
