body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 175%;
}

embed, iframe, object, img {
  max-width: 100%;
  object-fit: cover;
}

#content {
  margin-top: 110px;
}

@media #{$break-lg} {
  #content {
    margin-top: 30px;
  }
}

.tvqhub-label {
  display: inline;
  width: 50px;
  position: relative;
  top: -2px;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 auto !important;
}
