article {
  .page-title {
    font-weight: bold;
  }

  .card {
    position: relative;
    border: none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 10px !important;
  }

  .card-post-list {
    p {
      color: #666;
    }

    &:hover {
      box-shadow: 0 10px 30px -5px rgba(10, 16, 34, .2);
    }

    .thumb {
      width: 100%;
      height: 185px;
      position: relative;
      display: block;
      z-index: 2;
      overflow: hidden;

      .thumb-overlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(40, 35, 40, 0.05);
      }

      .thumb-hover:hover {
        transform: scale(1.08);
        transition-duration: 0.5s;
      }
    }
  }

  .card-post-detail {
    .arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #e0e0e0;
      top: 23px;
      left: 0;
    }
  }

  .entry-title {
    font-size: 28px;
    font-weight: bold;
    color: $blue !important;
    margin-bottom: 3px;

    a {
      color: #454545 !important;
      border-bottom: none;
      padding-bottom: 5px;
      background: -webkit-gradient(linear, left top, right top, from($cyan), to($blue));
      background: linear-gradient(to right, $cyan 0%, $blue 100%);
      background-size: 0 4px;
      background-repeat: no-repeat;
      background-position: left 87%;
      transition: all 300ms ease;

      &:hover {
        color: #222;
        background-size: 100% 4px;
      }
    }
  }

  .entry-content {
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    ol li, ul li {
      line-height: 190%;
    }

    img {
      height: auto;
      border-radius: 4px;
      box-shadow: 5px 0 40px #d6dee4;
      margin: 15px auto;

      &.sticker {
        border-radius: 0 !important;
        box-shadow: none !important;
        margin: 0 auto !important;
      }
    }

    .sticker img {
      border-radius: 0 !important;
      box-shadow: none !important;
      margin: 0 auto !important;
    }

    a {
      &:not(.more-link) {
        font-weight: bold;
        color: $cyan !important;
        border-bottom: 2px solid #ccf3f6;

        &:hover {
          border-color: $cyan !important;
          background-color: #eefbfc;
        }

        &:active, &:focus {
          border-bottom: 2px dashed $cyan !important;
          background-color: #eefbfc;
        }
      }

      &.more-link {
        color: #666 !important;

        &:hover {
          color: #999 !important;
        }
      }
    }
  }

  .entry-meta {
    &, a {
      color: #999;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 24px;
    }
  }

  .related-posts {
    .title {
      color: #939393;
      letter-spacing: 1.2px;
      font-size: 16px;
      font-weight: bold;
      margin-top: 40px;

      &:before {
        content: '';
        width: 50px;
        border-bottom: 2px solid #dedede;
        display: block;
        margin-bottom: 5px;
      }
    }

    .content {
      display: inline-flex;
      overflow: hidden;
      margin-bottom: 10px;

      a {
        color: #777 !important;

        &:hover {
          color: $blue !important;
        }
      }

      .related-thumbnail {
        width: calc(100% - 10px);
        height: 140px;
        margin-bottom: 10px;
        background-size: cover;
        border-radius: 10px;
      }

      .related-title {
        font-weight: bold;
        font-size: 90%;
        padding: 0 3px;
      }

      &:hover a .related-thumbnail {
        transform: scale(1.08);
        transition-duration: 0.5s;
      }
    }
  }
}
